# vim:ft=yaml:fenc=utf-8:fdm=marker
encryption: gpg

gpg:
  recipient: hey@winston.sh

edit:
  command: nvim
diff:
  command: nvim
  args:
    - "-d"
    - "{{`{{ .Destination }}`}}"
    - "{{`{{ .Target }}`}}"
merge:
  command: nvim
  args:
    - "-d"
    - "{{`{{ .Destination }}`}}"
    - "{{`{{ .Source }}"
    - "{{ .Target }}`}}"
