# noisy diffs
flake.lock -diff
lazy-lock.json -diff

# treat age as binary
*.age -text -diff

# git lfs
*.png filter=lfs diff=lfs merge=lfs -text

# git crypt
home/secrets/fonts/* filter=git-crypt diff=git-crypt

*.nu linguist-language=nushell
