@import url(//dablulite.github.io/css-snippets/ConsistentChatbar/import.css);
@import url('//fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=IBM+Plex+Serif:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {
  --font-primary: "IBM Plex Sans", sans-serif;
  --font-headline: "IBM Plex Sans", sans-serif;
  --font-display: "IBM Plex Sans", sans-serif;
  --font-code: "Berkeley Mono", "IBM Plex Mono", "Symbols Nerd Font", mono;
}

div[class*="messageContent__"] {
  font-family: "IBM Plex Serif", serif;
}

@media (max-width: 1024px) {
  nav[aria-label="Servers sidebar"] {
    display: none;
  }
  .platform-osx div[class^="base_"] > div[class^="content_"] > div[class^="sidebar_"],
  .platform-osx div[class^="base_"] > div[class^="content_"] > main[class^="container_"],
  .platform-osx div[class^="base_"] > div[class^="content_"] > div[class^="chat_"] {
    padding-top: 32px !important;
  }
}

@media (max-width: 768px) {
  div[class^="base_"] > div[class^="content_"] > div[class^="sidebar_"] {
    display: none;
  }
}

main[class^="chatContent_"] form div[class^="buttons_"],
main[class^="chatContent_"] form div[class^="attachWrapper_"] {
  display: none;
}
