* {
  font-family: Symbols Nerd Font, Berkeley Mono;
  font-size: 16px;
  color: #cdd6f4;
}

window#waybar {
  background-color: #000;
}

#workspaces button {
  padding: 0 5px;
  border-radius: 0;
}

#workspaces button:hover {
  background: #313244;
}

#workspaces button.active {
  color: #f5c2e7;
  background: #585b70;
  box-shadow: inset 0 -3px #f5c2e7;
}

#workspaces button.urgent {
  background-color: #f38ba8;
}

#clock,
#network,
#pulseaudio,
#tray,
#idle_inhibitor {
  padding: 0 10px;
}
